<section ng-controller="TasksController">
    <div class="page-header">
        <h1>New Task</h1>
    </div>
    <div class="col-md-12">
        <form name="taskForm" class="form-horizontal" ng-submit="create(taskForm.$valid)" novalidate>
            <fieldset>

                <div class="form-group" show-errors>
                    <label for="backlog_id">Backlog Item</label>
                    <select name="backlog_id" ng-model="backlog_id" id="backlog_id" class="form-control"
                            placeholder="Backlog Item" ng-change="onBacklogChange(backlog_id)" required>

                        <option ng-repeat="backlog in backlogsdata" value="{{backlog.id}}">{{backlog.label}}</option>


                    </select>

                    <div ng-messages="backlogForm.type.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Backlog item is required.</p>
                    </div>
                </div>

                <div class="form-group" show-errors>
                    <label for="title">Title</label>
                    <input name="title" type="text" ng-model="title" id="title" class="form-control" placeholder="Title"
                           required>

                    <div ng-messages="taskForm.title.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Task title is required.</p>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label for="status">Status</label>
                    <select name="Status" ng-model="status" id="status" class="form-control" placeholder="Status"
                            required>
                        <option value="todo" selected="selected">To DO</option>
                        <option value="inprogress" selected="true">In Progress</option>
                        <option value="done">Done</option>
                    </select>

                    <div ng-messages="taskForm.status.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Task status is required.</p>
                    </div>
                </div>

                <div class="form-group" show-errors>
                    <label for="estimate">Estimate (in days)</label>
                    <input name="estimate" type="text" ng-model="estimate" id="estimate" class="form-control"
                           placeholder="Estimate"
                           required>

                    <div ng-messages="taskForm.estimate.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Task estimate is required.</p>
                    </div>
                </div>


                <div class="form-group">
                    <label for="assigned_user">Assigned Developers</label>
                    <div id="assigned_user" ng-model="task.assigned_user" ng-dropdown-multiselect="" translation-texts="customTexts" options="assigned_user" selected-model="dev_models" extra-settings="dev_settings"></div>
                </div>


                <div class="form-group">
                    <label for="content">Description</label>
                    <textarea name="content" ng-model="content" id="content" class="form-control" cols="30" rows="10"
                              placeholder="Content"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div ng-show="error" class="text-danger">
                    <strong ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
